namespace Penca_uy2026.Views.AdminSitioAuth
{
    public class Index
    {
    }
}
@model Penca_uy2026.Models.Sitio

<div class="container mt-4">
    <h1>Panel de Administración: @Model.Nombre</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-info mb-3">
                <div class="card-body">
                    <h5 class="card-title">Usuarios Registrados</h5>
                    <p class="card-text">@Model.Usuarios.Count()</p>
                </div>
            </div>
        </div>
    </div>
</div>